
@{
    ViewBag.Title = "OrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication3.Models.Order

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Customer</th>
                <th>Employe</th>
                <th>Order Date</th>
                <th>Shipped Date</th>
                <th>Freight</th>
                <th>Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>@Model.OrderID</td>
                <td>@Model.Customer.CompanyName</td>
                <td>@Model.Employee.FirstName</td>
                <td>@Model.OrderDate</td>
                <td>@Model.ShippedDate</td>
                <td>@Model.Freight</td>
                <td>@Model.ShipAddress</td>

            </tr>
            

        </tbody>
    </table>
</div>